<configuration>

    <appender name="testAppender" class="io.github.denistsyplakov.logbag.TestAppender">
    </appender>

    <appender name="logback" class="io.github.denistsyplakov.logbag.LogBagAppender">
        <appender-ref ref="testAppender"/>
        <bagTriggerLevel>WARN</bagTriggerLevel>
        <bagPassthroughLevel>INFO</bagPassthroughLevel>
        <maxBagSize>10</maxBagSize>
        <maxBagTTLSec>600</maxBagTTLSec>
    </appender>

    <root level="trace">
        <appender-ref ref="logback"/>
    </root>
</configuration>